.screen {
  background-image: url("https://source.unsplash.com/1600x900/?skye");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.bird {
  width: var(--width);
  height: var(--height);
  position: absolute;
  top: var(--top);
  left: var(--left);
}
.bird.active {
  transform: rotate(var(--angle)) scale(0) translate(var(--dist-x), var(--dist-y));
  filter: blur(2vmin);
  transition: transform 2000ms ease-out, filter 2000ms ease-out;
}

.wing {
  --stroke: calc(var(--size) * 0.2);
  --half-stroke: calc(var(--stroke) / 2);
  width: 100%;
  height: 100%;
  border: solid var(--stroke) #000000;
  border-bottom: none;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
}
.wing.left {
  left: calc(50% - var(--half-stroke));
  transform-origin: left bottom;
  animation: left-wing 512ms ease-out infinite;
}
.wing.right {
  right: calc(50% - var(--half-stroke));
  transform-origin: right bottom;
  animation: right-wing 512ms ease-out infinite;
}

@keyframes left-wing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg) skew(10deg, 30deg);
  }
  75% {
    transform: rotate(45deg);
  }
}
@keyframes right-wing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg) skew(-10deg, -30deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}


@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://4o4page.vercel.app/img/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://raw.githubusercontent.com/bmshifat/Credit-Card-Form/main/css/fbok.png);
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #007cff;
}
.about .social.github {
  transition: all 0.3s ease;
}
.about .social.github .icon {
  background-image: url(https://4o4page.vercel.app/img/github.svg);
}
.about .social.insta {
  transition: all 0.8s ease;
}
.about .social.insta .icon {
  background-image: url(https://4o4page.vercel.app/img/insta.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}

.about:hover .social.github {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.github .icon:hover {
  background-color: #c1cfdf;
}
.about:hover .social.insta {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.insta .icon:hover {
  background-color: #ec6173;
}
